@import url("import.css");

.main-container {
  display: flex;
  flex-direction: column;
  width: calc(100%-260px);
  flex-shrink: 0;
  border-radius: 15px;
  background: #001422;
  margin-top: 100px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.head-container {
  color: #dafffb;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.add-movie-form {
  display: flex;
}

.input-field-container {
  display: flex;
  gap: 30px;
  margin-top: 35px;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title-field {
  display: flex;
  flex-direction: column;
}

.addMovie-label {
  color: #fff;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.text-input {
  font-size: 1em;
  font-weight: 600;
  background: #d9d9d9;
  border: none;
  height: 3em;
  padding-left: 16px;
  color: #646983;
  border-radius: 10px;
}

.text-input-duration,
.text-input-agelimit,
.text-input-fee,
.text-input-quota {
  font-size: 1em;
  font-weight: 600;
  background: #d9d9d9;
  border: none;
  height: 3em;
  padding-left: 16px;
  color: #646983;
  border-radius: 10px;
  width: calc(100% - 10px);
}

.outer-input-class-duration,
.outer-input-class-agelimit,
.outer-input-class-fee,
.outer-input-class-quota {
  width: 10em;
}

.outer-input-class {
  width: 20em;
}

.right-side {
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.duration-and-agelimit-field {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.fee-and-quota-field {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.select-trailer-poster-button {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.movie-trailer-button,
.movie-poster-button,
.url-thumbnail {
  display: flex;
  flex-direction: column;
  margin-bottom: -20px;
}

#select-trailer-button,
#select-poster-button,
#select-thumbnail-button {
  height: 4em;
  width: 10em;
  border-radius: 10px;
  background: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #001c30;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

input[type="date"] {
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #001c30;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  height: 3em;
  width: 20em;
  border-radius: 10px;
  padding: 1em;
}

.button-addMovie {
  display: flex;
  margin-right: -30px;
  margin-top: 30px;
  justify-content: right;
  align-items: center;
}

#add-movie {
  display: inline-flex;
  padding: 15px 55px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #001c30;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 10px;
  background: #dafffb;
}

#add-movie:hover {
  background-color: #1f5a83;
  color: #dafffb;
}
