@import url("import.css");

.main-container {
  display: flex;
  /* flex-direction: column; */
  width: calc(100%-260px);
  /* height: 675px; */
  flex-shrink: 0;
  border-radius: 15px;
  background: #001422;
  margin-top: 100px;
  margin-left: 130px;
  margin-right: 130px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: flex-start;
  padding: 10%;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.profile-image-display {
  position: relative;
  display: inline-block;
  width: 280px;
  height: 280px;
  overflow: hidden;
  border-radius: 10px;
}

.profile-image-display img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#changePhotoButton {
  margin-top: 40px;
  display: inline-flex;
  padding: 20px 64px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: #dafffb;
  color: #000;
  font-family: "Inter";
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

#changePhotoButton:hover {
  background-color: #9ffff5;
}

#changePhotoButton:active {
  background-color: #63ffef;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  margin-left: 30px;
}

.right-side ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.right-side li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.right-side li a {
  color: #fff;
  font-weight: 700;
  margin-top: 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Inter";
}

.right-side li b {
  color: #fff;
  font-weight: 500;
  margin-right: 10px;
  font-size: 14px;
  font-family: "Inter";
  font-weight: normal;
}

.right-side button {
  margin-left: 150px;
  width: 24px;
  height: 24px;
}
