@import url('import.css');

.body-ticket-page {
    --black: #000000;
    --kuretake-black-manga: #001422;
    --midnight-dreams: #001c30;
    --bondi: #176b87;
    --brilliant-licorice: #555353;
    --calliope: #64ccc5;
    --placid-gray: #828A90;
    --more-than-a-week: #8e8e8e;
    --gainsboro :#d9d9d9;
    --ice: #dafffb;
    --white: #ffffff;
    color: var(--midnight-dreams);
    width: 100%;
    height: 100%;
    padding-bottom: 220px;
}

.line-top-container {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}

.line-ticket-container {
    width: 91%;
    padding: 10px;
}

.line-datetime-container {
    padding-bottom: 10px;
}

.line-top-container img, .line-ticket-container img, .line-datetime-container img {
    width: 100%;
}

.ticket-container {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    width: 91%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--kuretake-black-manga);
}

.ticket-page-container {
    padding-top: 10px;
    display: flex;
    color: var(--ice);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    gap: 40px;
}

.ticket-page-current {
    font-weight: 700;
    text-decoration: underline;
}

.ticket-info-container {
    padding-top: 10px;
    padding-bottom: 40px;
    width: 90%;
    display: grid;
    grid-template-columns: 32% 68%;
    grid-gap: 35px;
}

/* NEED FIX */
.ticket-info-left-container {
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    background-color: var(--brilliant-licorice);
    border-radius: 10px;
}

.ticket-info-left-poster img {
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    /* display: block; */
}

.ticket-info-left-button {
    display: flex;
    align-self: center;
    margin-top: -40px;
    margin-bottom: -40px;
}

.ticket-info-left-button img {
    width: 75px;
    height: 75px;
}

.ticket-info-left-genre-container {
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: var(--ice);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}

.ticket-info-left-genre-title {
    font-weight: 700;
    padding-bottom: 10px;
}

.ticket-info-right-container {
    width: 95%;
    color: var(--ice);
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
    gap: 10px;
    display: flex;
    flex-direction: column;

}

.ticket-info-right-heading-container {
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    font-weight: 700;
}

.ticket-info-right-heading-duration {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--ice);
    font-size: 12px;
    font-weight: 500;
}

.ticket-info-right-desc-label {
    color: #DAFFFB;
text-align: justify;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 15.4px */
}

.ticket-info-right-datetime-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15%;
    color: (--ice);
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

.ticket-info-right-date {
    display: flex;
    flex-direction: column;
}

.label-datetime {
    color: #DAFFFB;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.24px;
}

.line-datetime-container {
    width: 168px;
    /* height: 0.2px; */
    /* background: rgba(217, 217, 217, 0.50); */
}

.button-text-border {
    width: 100%;
    text-align: center;
}

.button-text-border button {
    cursor: pointer;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--ice);
    border-radius: 10px;
    background-color: var(--kuretake-black-manga);
    color: var(--ice);
}

.ticket-info-right-time-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.button-text-plain {
    width: 100%;
    text-align: center;
}

.button-text-plain button {
    cursor: pointer;
    width: 100%;
    padding: 5px;
    border: 1px solid var(--ice);
    border-radius: 10px;
    background-color: var(--kuretake-black-manga);
    color: var(--ice);
}

.ticket-info-right-seating-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    color: var(--placid-gray);
    font-family: Inter;
    font-weight: 500;
}

.ticket-info-right-seating-screen {
    color: rgba(255, 255, 255, 0.55);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.24px;
}

.ticket-info-right-seating-available {
    color: #828A90;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.2px;
}

.ticket-info-right-seating-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding: 10px;
}

/* NEED FIX */
.ticket-info-right-purchase-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
}

.label-ticket-info-right-purchase-amount {
    color: #828A90;
font-family: Inter;
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.2px;
}

.ticket-info-right-purchase-amount {
    padding-top: 10px;
    text-align: center;
    color: var(--placid-gray);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
}

.ticket-info-right-purchase-adjust {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 5px;
}

/* .button-operator button {
    border: none;
    background-color: var(--calliope);
    color: var(--black);
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    cursor: pointer;
}

.minus button {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.plus button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
} */

.input-amount input {
    width: 200px;
height: 30px;
flex-shrink: 0;
border-radius: 10px;
background: #D9D9D9;
    text-align: center;
    background-color: var(--gainsboro);
    color: var(--black);
    padding: 10px;
}

.button-next {
    display: flex;
    justify-content: right;

}

.button-next img {
    width: 75px;
    height: 75px;
}

@media only screen and (max-width: 670px) {
    .ticket-info-container, .ticket-info-right-datetime-container {
        grid-template-columns: 1fr;
    }
}
