:root {
    --gainsboro: #d9d9d9;
    --fluorescent-red: #ff5a5a;
    --ice: #dafffb;
    --petrichor: #64ccc5;
    --midnight-dreams: #001c30;
    --brilliant-licorice: #555353;
    --more-than-a-week: #8e8e8e;
    --black: #000000;
    --kuretake-black-manga: #001422;
    --white: #FFFFFF;
    --charcoal: #494444;
    --bondi: #176b87;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter";
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

/* Buttons */

.btn-with-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-block;
    background: var(--ice);
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--kuretake-black-manga); /* Green background color */
    color: var(--ice); /* White text color */
    font-size: 16px;
    cursor: pointer;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
}

.btn-with-border {
    border: 2px solid var(--ice); /* White border */
}

/* Hover effect */
.btn:hover {
    background-color: var(--ice);
    color: var(--kuretake-black-manga);
}

.btn-with-border:hover {
    background-color: var(--ice);
    color: var(--kuretake-black-manga);
    border: 2px solid var(--kuretake-black-manga); /* White border */
}

/* Styles for the button */
.overlay-button {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

/* Header */

header {
    background: var(--midnight-dreams);
    padding-bottom: 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    top: 30px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

nav .logo {
    color: var(--white);
    font-family: Otomanopee One;
    font-size: 48px;
    font-weight: 400;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}

nav ul li a {
    color: var(--ice);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

/* Hero Section */

.hero-section {
    background-color: var(--kuretake-black-manga);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
    border-radius: 20px;
}

.hero-section .page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 240px;
    padding-right: 240px; 
}

.hero-section .page-container ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 100px;
}

.hero-section .page-container ul li .current-page {
    color: var(--ice);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

.hero-section .page-container ul li .other-page {
    color: var(--ice);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.hero-section .line img {
    padding-top: 0;
    padding-bottom: 20px;
    width: 100%;
}

.hero-section .section-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Container for the image and button */
.hero-section .section-container .left .container {
    position: relative;
    width: 320px; /* Set the width of the container */
}

    /* Styles for the image */
.hero-section .section-container .left .image {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add border-radius to the image */
}

.hero-section .section-container .left .overlay-content {
    width: 100%;
    background: var(--brilliant-licorice); /* Semi-transparent gray background */
    padding: 20px;
    border: none;
    border-radius: 15px;
}

.hero-section .section-container .left h1 {
    color: var(--ice);
    font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: -0.24px;
}

.hero-section .section-container .left p {
    color: var(--ice);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.24px;
}

.hero-section .section-container .left {
    width: 320px;
}

.hero-section .section-container .right h1 {
    color: #DAFFFB;
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -0.64px;
    padding-left: 50px;
}

.hero-section .section-container .right p {
    color: #DAFFFB;
    text-align: justify;
    font-family: Inter;
    font-size: 11px;
    font-weight: 400;
    padding-left: 50px;
}

.hero-section .section-container .right .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-left: 60px;
    padding-bottom: 30px;
}

.hero-section .section-container .right .container h2 {
    color: #DAFFFB;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
}

.hero-section .section-container .right .container .left-option {
   width: 170px;
}

.left-option .line img {
    width: 100%;
    display: block;
    margin: 0;
    padding-top: 0;
    padding-bottom: 15px;
}


.hero-section .section-container .right .container .right-option {
    width: 260px;
}

.right-option .line img {
    width: 100%;
    display: block;
    margin: 0;
    padding-top: 0;
    padding-bottom: 15px;
}

.hero-section .section-container .right .container .right-option .time-container {
    display: flex;
    justify-content: left;
    align-items: left;
}

.hero-section .section-container .right .container .right-option .time-container ul {
    display: flex;
    align-items: left;
    list-style: none;
    padding: 0; /* Reset padding */
    margin: 0; /* Reset margin */
}

/* Container for the seat matrix */
.seat-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-left: 80px;
    padding-right: 40px;
}

/* Styles for individual seat icons */
.seat {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Styles for a selected seat */
.seat.selected img {
    background-color: var(--ice); /* Green color for a selected seat */
    border-radius: 5px;
    padding: 5px; /* Add padding for selected seat */
}

/* Styles for the seat icon image */
.seat img {
    width: 100%; /* Make the image fill the container */
    height: 100%;
    border-radius: 5px; /* Add border-radius for all seats */
}

.icon-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.center-icon {
    display: flex;
    padding-top: 50px;
    padding-left: 120px;
    padding-right: 60px;
    gap: 20px;
}

.center-icon li {
    list-style: none;
}

.center-icon li .text {
    color: var(--more-than-a-week);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
    padding-right: 40px;
    padding-top: 5px;
}

.right-icon {
    padding-top: 35px;
}

/* Add your styles here */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.video-container {
    position: relative;
    padding: 20px;
    max-width: 80vw;
    max-height: 80vh;
    background-color: var(--bondi);
    border: 4px solid var(--ice);
    border-radius: 20px;
}

h5 {
    color: var(--ice);
    text-align: center;
    margin-top: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}

#videoPlayer {
    width: 100%;
    height: 100%;
}

.close {
    position: absolute;
    top: 10px;
    right: 16px;
    color: var(--ice);
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}