:root {
    --gainsboro: #d9d9d9;
    --fluorescent-red: #ff5a5a;
    --ice: #dafffb;
    --petrichor: #64ccc5;
    --midnight-dreams: #001c30;
    --brilliant-licorice: #555353;
    --more-than-a-week: #8e8e8e;
    --black: #000000;
    --kuretake-black-manga: #001422;
    --white: #FFFFFF;
    --charcoal: #494444;
    --bondi: #176b87;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter";
}

.wrapper {
    max-width: 1180px;
    margin: 0 auto;
}

/* Buttons */

.btn-with-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: inline-block;
    background: var(--ice);
}

.token-input {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--gainsboro);
    color: var(--charcoal);
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.24px;
    align-self: flex-end; /* Align the button to the end of the container (bottom right corner) */
    margin-top: auto; /* Use margin-top: auto to push the button to the bottom */
}

.btn-ticket {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--ice);
    color: var(--midnight-dreams);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.24px;
    align-self: flex-end; /* Align the button to the end of the container (bottom right corner) */
    margin-top: auto; /* Use margin-top: auto to push the button to the bottom */
}

/* Hover effect */
.btn:hover {
    background-color: var(--ice);
    color: var(--kuretake-black-manga);
}

.btn-with-border:hover {
    background-color: var(--ice);
    color: var(--kuretake-black-manga);
    border: 2px solid var(--kuretake-black-manga); /* White border */
}

/* Header */

header {
    background: var(--midnight-dreams);
    padding-bottom: 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1180px;
    top: 30px;
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 20px;
}

nav .logo {
    color: var(--white);
    font-family: Otomanopee One;
    font-size: 48px;
    font-weight: 400;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}

nav ul li a {
    color: var(--ice);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

/* Hero Section */

.info-section {
    background-color: var(--kuretake-black-manga);
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
    border-radius: 20px;
}

.info-section .page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-left: 240px;
    padding-right: 240px; 
}

.info-section .page-container ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 100px;
}

.info-section .page-container ul li .current-page {
    color: var(--ice);
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    text-decoration-line: underline;
}

.info-section .page-container ul li .other-page {
    color: var(--ice);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; /* Align items to the start of the container (top left corner) */
    height: 100%; /* Set the height to 100% to make sure the container takes the full height */
}
  

.info-section .line img {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;

}

h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    margin: 0;
}

h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}

h4 {
    color: #DAFFFB;
    font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    align-self: flex-end; /* Align the button to the end of the container (bottom right corner) */
    margin-top: auto; /* Use margin-top: auto to push the button to the bottom */
    padding-right: 130px;
}

.ticket-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 40px; 
}

.total-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 40px; 
}

.label {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}

.value {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
}

/* Style for popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: var(--petrichor);
    color: var(--black);
    font-weight: 700;
    margin: 15% auto;
    padding: 20px;
    border: 4px solid var(--ice);
    border-radius: 15px;
    width: 25%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup-container {
    text-align: center;
    margin-top: 20px;
  }
  
  button {
    background-color: var(--kuretake-black-manga);
    border: 2px solid var(--ice);
    border-radius: 10px;
    color: var(--ice);
    font-weight: 700;
    cursor: pointer;
    margin: 0 20px; /* Add margin between buttons */
  }

  button:hover {
    background-color: var(--ice);
    color: var(--kuretake-black-manga);
    border: 2px solid var(--kuretake-black-manga);
    border-radius: 10px;
    font-weight: 700;
  }